################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/OnlineQuizzAPI/.vs/OnlineQuizzAPI
/OnlineQuizzAPI/OnlineQuizzAPI/.config
/OnlineQuizzAPI/OnlineQuizzAPI/bin/Debug/net6.0
/OnlineQuizzAPI/OnlineQuizzAPI/obj
/OnlineQuizzAPI/OnlineQuizzAPI/Properties/launchSettings.json
/OnlineQuizzAPI/OnlineQuizzAPI/OnlinQuizzAPI.xml
/src/OnlineQuizzAPI/OnlineQuizz.Api/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Api/logs
/src/OnlineQuizzAPI/OnlineQuizz.Api/obj
/src/OnlineQuizzAPI/OnlineQuizz.Api/Properties
/src/OnlineQuizzAPI/OnlineQuizz.API.IntegrationTests/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.API.IntegrationTests/obj
/src/OnlineQuizzAPI/OnlineQuizz.Application/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Application/obj
/src/OnlineQuizzAPI/OnlineQuizz.Application.UnitTests/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Application.UnitTests/obj
/src/OnlineQuizzAPI/OnlineQuizz.Domain/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Domain/obj
/src/OnlineQuizzAPI/OnlineQuizz.Identity/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Identity/obj
/src/OnlineQuizzAPI/OnlineQuizz.Infrastructure/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Infrastructure/obj
/src/OnlineQuizzAPI/OnlineQuizz.Persistence/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Persistence/obj/Debug/net6.0/ref
/src/OnlineQuizzAPI/OnlineQuizz.Persistence/obj/Debug/net6.0/refint
/src/OnlineQuizzAPI/OnlineQuizz.Persistence/obj/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Persistence/obj
/src/OnlineQuizzAPI/OnlineQuizz.Persistence.IntegrationTests/bin/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Persistence.IntegrationTests/obj/Debug/net6.0
/src/OnlineQuizzAPI/OnlineQuizz.Persistence.IntegrationTests/obj
/src/OnlineQuizzAPI/GloboTicket.TicketManagement.Persistence/obj
/src/OnlineQuizzAPI/GloboTicket.TicketManagement.Infrastructure/obj
/src/OnlineQuizzAPI/GloboTicket.TicketManagement.Identity/obj
/src/OnlineQuizzAPI/GloboTicket.TicketManagement.Domain/obj
/src/OnlineQuizzAPI/GloboTicket.TicketManagement.Application/obj
/src/OnlineQuizzAPI/GloboTicket.TicketManagement.Api/obj
/src/OnlineQuizzAPI/.vs/OnlineQuizz
/src/OnlineQuizzAPI/.vs
/src/OnlineQuizzAPI/.vs/GloboTicket.TicketManagement
/src/OnlineQuizzAPI/OnlineQuizz.Api/bin/Debug/net8.0/cs
/src/OnlineQuizzAPI/OnlineQuizz.Api/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.API.IntegrationTests/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Application/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Application.UnitTests/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Domain/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Identity/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Infrastructure/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Persistence/bin/Debug/net8.0
/src/OnlineQuizzAPI/OnlineQuizz.Persistence.IntegrationTests/bin/Debug/net8.0
