# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - api-online-quizz

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        working-directory: src/OnlineQuizzAPI
        run: dotnet restore OnlineQuizzAPI.sln

      - name: Build
        working-directory: src/OnlineQuizzAPI
        run: dotnet build OnlineQuizzAPI.sln --configuration Release --no-restore

      - name: Publish
        working-directory: src/OnlineQuizzAPI
        run: dotnet publish OnlineQuizzAPI.sln -c Release -o publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api_publish
          path: src/OnlineQuizzAPI/publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api_publish
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'api-online-quizz'
          slot-name: 'Production'
          package: .
